@import url("https://fonts.google.com/specimen/Inter");
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.quadro{
    background-color:#1F1F1F ;
    width:341px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    Height:608px;
    Top:176px;
    Left:530px;
    border-radius: 10px;
}

body{
background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h2{
color: #C5F82A;
width: 160;
height: 20;
top: 367px;
left: 630px;
font-size: 14px;
padding: 10px

}


img{
Width:88px;
Height:88px;
Top:214px;
Left:676px;
border-radius: 200px;
padding: 20px;
}

h1{
font-size: 24px;
width: 180;
height: 20;
top: 334px;
left: 630px;
padding: 2px;
color: white;
}

p{
width: 270;
height: 20;
top: 412px;
left: 585px;
font-size: 14px;
padding: 20px;
color: white;
}

button{
    background-color: #333333;
    color: white;
    Width:300px;
    height:40px;
    margin: 10px;
    border-radius: 5px;
    border: 0;
}

button:hover{
    background-color: #C5F82A;
}

a{
    text-decoration: none;
    color: inherit;
}